<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>788845533722-ue9h6ptngplvnavcq0g1i7i9sruiet6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788845533722-ue9h6ptngplvnavcq0g1i7i9sruiet6h</string>
	<key>API_KEY</key>
	<string>AIzaSyAk6fXvEZ0af0zeHIIehneIJuQhAqq1Czw</string>
	<key>GCM_SENDER_ID</key>
	<string>788845533722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireStorage</string>
	<key>PROJECT_ID</key>
	<string>round-ring-120614</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788845533722:ios:7f62ae8e042d0607</string>
	<key>DATABASE_URL</key>
	<string>https://round-ring-120614.firebaseio.com</string>
</dict>
</plist>